body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to bottom, rgb(104, 104, 104) , white)
}

.calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.832);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}



#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
      background-color: rgba(0, 0, 0, 0.296);
      color: white;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.151);
    color:white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.271);
}

button:active{
     background-color: rgba(255, 255, 255, 0.501);
}

.operatorbtn{
    background-color: rgba(0, 255, 166, 0.605);
}

.operatorbtn:hover{
    background-color: rgba(0, 255, 191, 0.77);
}

.operatorbtn:active{
    background-color: rgba(0, 255, 200, 0.858);
}

